**ML PART 2 - STRINGS, LOOPS, FUNCTIONS**

In [ ]:
a = 'Hello. I am Nitin Ranjan.'
print(a)

Hello. I am Nitin Ranjan.

In [ ]:
#string truncataion
print(a[4:])
print(a[:8])
print(a[:])

o. I am Nitin Ranjan.
Hello. I
Hello. I am Nitin Ranjan.

In [ ]:
#a string is an array
print(a[3])
print(a[-1])
for i in a:
  print(i,"\n")

l
.
H

e

l

l

o

.



I



a

m



N

i

t

i

n



R

a

n

j

a

n

.

In [ ]:
#string is immutable, just like a tuple
a[3] = 'd'

TypeError: ignored

In [ ]:
#length of string
print(len(a))

25

In [ ]:
#determine a substring in a string
print('apple' in 'custardaapplepie')

True

In [ ]:
print('ice' not in 'icecream parlour by the lake')

False

In [ ]:
#upper case and lower case strings
print(a.upper())
print(a.lower())

HELLO. I AM NITIN RANJAN.
hello. i am nitin ranjan.

In [ ]:
#remove whitespaces using strip function
print(a.strip())

Hello. I am Nitin Ranjan.

In [ ]:
#replace function
print(a.replace('H','A'))

Aello. I am Nitin Ranjan.

In [ ]:
#split function
print(a.split())

['Hello.', 'I', 'am', 'Nitin', 'Ranjan.']

In [ ]:
#string concatenation
s1 = 'apple'
s2 = ' '
s3 ='pie killed cinderealli'
print(s1+s2+s3)

apple pie killed cinderealli

***String Formatting***

In [ ]:
print('apple is a sweet fruit. I give it a score of' + 45)  #numbers and strings cannot be added

TypeError: ignored

In [35]:
score = 23  
s4 = "Apple is the best, I give it a score of {} over 10"
print(s4.format(score))

Apple is the best, I give it a score of 23 over 10

In [29]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [38]:
#finally, formatting can be done like this.
cgpa = 8.71
year = 3
age = 21
s5 = "I am Nitin Ranjan, age {2}. I study at VIT University in the capacity of a {1}rd year student with a CGPA of {0}."
print(s5.format(cgpa, year, age))
#basically, you can index the parameter elements to the format function

I am Nitin Ranjan, age 21. I study at VIT University in the capacity of a 3rd year student with a CGPA of 8.71.

https://www.w3schools.com/python/python_strings_escape.asp

link that holds a chart to all the escape characters.

https://www.w3schools.com/python/python_strings_methods.asp

link holds chart to all inbuilt string functions

# Loops


> python has a for and a while loop

In [47]:
for i in range(0,13):
  print(i)

# is equivalent to
for i in range(13):
  print(i)

#is equivalent to 
i = 0
while(i<=12): #is equivalent to while i<13
  print(i)
  i +=1

#python does not have a do while loop per se. Similarly, it does not have a switch case either.

0
1
2
3
4
5
6
7
8
9
10
11
12
0
1
2
3
4
5
6
7
8
9
10
11
12
0
1
2
3
4
5
6
7
8
9
10
11
12

***Functions***

In [48]:
def Hello():  #this is how functions are defined. This one is without parameters.
  print("Hello, I am Nitin")

In [49]:
Hello()

Hello, I am Nitin

In [51]:
def square(a):
  print (a*a) #this one has one argument

In [52]:
square(4)

16

In [53]:
def sum(a,b):
  print(a+b)  #has two arguments  and similarly, functions can have several arguments

In [54]:
sum(5,6)

11

In [56]:
def info(name, reg, cgpa, year, fee):
  print('Name of the student: {0}\n Year: {3}\n Registration number: {1}\n CGPA: {2}\n Fee: {4}'.format(name,reg,cgpa,year,fee)) #parameters can be of various types

info ('nitin', '18BCEXXXX', 8.71, 3, 2340)

Name of the student: nitin
 Year: 3
 Registration number: 18BCEXXXX
 CGPA: 8.71
 Fee: 2340

*Lambda Function*

Lambda expressions curtail long expressions or loops in a function to fairly shorter strings of expression with the same functionalities. Blah. Blah. Blah.

In [61]:
#basic arithmetic operations

#single argument
x = lambda a: print(a*10)
x(5)

#or

x = lambda a: a+10
print(x(10))

50
20

In [62]:
#two arguments
x = lambda a, b : a*b +200
print(x(2,3))

206

In [72]:
def myfunc(n):
  return lambda n: n*12

#let us generate one more unkonwn
def myfunc(n):
  return lambda a: a+n
  #clearly we do not know a. So myfunc(3) returns  <function myfunc.<locals>.<lambda> at 0x7fc223751710>

apple = myfunc(6)  #myfunc returns a lambda function.
print(apple(3))

9

In [74]:
def func1(a,b):
  return lambda c, d: a+b-c+d

mango = func1(2,3)
print(mango(5,6))

6